.empName {
    text-align: center;
    margin-top: 3%;
}

/* .data {
    display: flex;
} */

.data1 {
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
}

.empImg {
    width: 200px;
}

h5 {
    margin-bottom: 10%;
}

/* .row1, .row2 {
    margin-bottom: 40pt;
    line-height: 20pt;
} */

/* .infoCol1 {
    margin-left: 5%;
}

.infoCol2 {
    padding: 0 auto;
    margin: 0 auto;
} */

.editButton {
    text-align: center;
}

.btnEdit {
    border: 0;
    background-color:white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
}

.btnEdit:hover {
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    background-color: rgba(52, 6, 238, 70%);
}

.editForm{
    display: flex;
    justify-content: space-evenly;    
}

.editDetails {
    visibility: hidden;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* transition-duration: 10s; */
}

.edit {
    justify-content: center;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .data1 {
        flex-direction: column-reverse;
    }

    .img{
        order: 1;
        align-self: center;
    }

    .details1{
        order: 1;
        margin-left: 12%;
        /* align-self: center; */
    }

    .details2{
        margin-left: 12%;
        /* align-self: center; */
    }

    .editForm{
        flex-direction: column;
        /* justify-content: flex-end; */
    }

    .row{
        width: 80%;
        margin-left: 10%;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .data1 {
        /* flex-direction: column-reverse; */
    }
}